{
    "xsappname" : "{% include pathjoin('includes', 'name-slug.jinja') %}",
    "tenant-mode": "dedicated",
    "scopes" : [],
    "attributes" : [],
    "role-templates" : [],
    "authorities-inheritance" : false
}